body {
    padding: 30px;
}
.bg-image {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
}
.icon {
    width: 14px;
    margin-right: 0px;
    margin-left: 0px;
    display: inline-block;
    opacity: .6;
}
a {
    font-family: Consolas, monospace; 
    opacity: 0.7;
    text-decoration: none;
    display: block;
    font-size: .9em;
}
a:hover {
    opacity: 1;
    background-color: #000000;
    color: #ffffff;
}
.title {
    font-family: sans-serif;
    /* font-size: 0.5em; */
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.7em;
    padding-left: 10px;
}
.icon-name {
    overflow: hidden;
}

.full-screen-div {
    height: 100vh;
}
.listColumn {
    border: none;
}

.card {
    border: 0;
}

.list-card {
    margin: 0 0 20px 0;
    padding: 5px;
}
.list-card:hover {
    background-color: rgb(255, 255, 255);
}

.list-card a, .list-card .title {
    color: #ffffff;
}

.list-card:hover a, .list-card:hover .title {
    color: #000000;
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .links_list {
        columns: 3;
        -webkit-columns: 3;
        -moz-columns: 3;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .links_list {
        columns: 4;
        -webkit-columns: 4;
        -moz-columns: 4;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .links_list {
        columns: 6;
        -webkit-columns: 6;
        -moz-columns: 6;
    }
}

#currentTime, #currentTime2 {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
}
.nav-title {
    font-size: .8em;
}
.nav-link {
    font-size: .85em;
}